.resimSlider{
    height: 600px;
}
body{
    margin: 0;
    bottom: 0;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ayrac{
    border: none;
    border-top:3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}
.ibeyaz{
    color: #10c03c;
    position: relative;
    top: -58px;
    font-size: 45px !important;
    border: 10px solid white;
    background-color: white;
}
.igri{
    color: #10c03c;
    position: relative;
    top: -58px;
    font-size: 45px !important;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}
.ekipCard>img:hover{
    opacity: 0.8;
}
.galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}